@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@font-face {
  font-family: YuGothicMedium;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

@import "~compass-mixins/lib/compass";

@import "variables";
@import "mixins";
@import "reboot";
@import "global";
@import "particle";
@import "header";
@import "footer";
@import "nav";
@import "headline";
@import "about";
@import "works";
@import "recruit";
@import "company";
@import "contact";

.wrapper {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix;
  @include max-screen(768px) {
    width: 90%;
  }
}
