@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Viga);
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@import "~compass-mixins/lib/compass";
@import "~bourbon/core/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat";

@import "variables";
@import "mixins";
@import "reboot";
@import "global";
@import "particle";
@import "header";
@import "footer";
@import "nav";
@import "headline";
@import "about";
@import "works";
@import "company";
@import "contact";

.wrapper {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix;
}
