.company {
  @include onepoint-content
  background-color: #ffdfb9;

  .company-info {
    width: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: .5rem;
    border-collapse: collapse;
    .company-info__label {
      width: 40%;
    }
    .company-info__content {
      width: 60%;
    }
    th {
      text-align: right;
    }
    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
  }
}
