.headline {
  background-color: $orange;
  color: #fff;
  padding: 6rem 0;

  h1 {
    width: 100%;
    height: 300px;
    background: url(../img/headline.png) no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .copyright {
    margin: 0;
    text-align: right;
  }

  .catch {
    margin: 0;
    font-size: $font-size-base * 2;
    text-align: center;
  }
}
