.nav {
  flex-wrap: wrap;
  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
  .nav__link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: $white;
    &:hover,
    &:focus {
      color: darken($white, 15%);
      text-decoration: none;
    }
  }
  .nav__link__about {
    display: block;
    &::before {
      display: inline-block;
      content:'';
      background: url(./img/menu/about_wg.png);
      width: 69px;
      height: 16px;
    }
    &:hover {
      &::before {
        background-position: left bottom;
      }
    }
  }
  .nav__link__company {
    display: block;
    &::before {
      display: inline-block;
      content:'';
      background: url(./img/menu/company_wg.png);
      width: 101px;
      height: 16px;
    }
    &:hover {
      &::before {
        background-position: left bottom;
      }
    }
  }
  .nav__link__work {
    display: block;
    &::before {
      display: inline-block;
      content:'';
      background: url(./img/menu/work_wg.png);
      width: 73px;
      height: 16px;
    }
    &:hover {
      &::before {
        background-position: left bottom;
      }
    }
  }
  .nav__link__recruit {
    display: block;
    &::before {
      display: inline-block;
      content:'';
      background: url(./img/menu/recruit_wg.png);
      width: 82px;
      height: 16px;
    }
    &:hover {
      &::before {
        background-position: left bottom;
      }
    }
  }
  .nav__link__contact {
    display: block;
    &::before {
      display: inline-block;
      content:'';
      background: url(./img/menu/contact_wg.png);
      width: 94px;
      height: 16px;
    }
    &:hover {
      &::before {
        background-position: left bottom;
      }
    }
  }

  @include max-screen(768px) {
    display: none;
    .nav__link {
      color: $green;
      &:hover,
      &:focus {
        color: darken($green, 15%);
        text-decoration: none;
      }
    }
    &.nav--open {
      position: absolute;
      top: 56px;
      right: 0;
      display: block;
      height: 100vh;
      width: 60vw;
      background: $white;
      z-index: 2;
      @include transition(1.5s top);
      ul {
        display: block;
      }
    }
    .nav__link__about {
      &::before {
        background: url(./img/menu/about_og.png);
      }
    }
    .nav__link__company {
      &::before {
        background: url(./img/menu/company_og.png);
      }
    }
    .nav__link__work {
      &::before {
        background: url(./img/menu/work_og.png);
      }
    }
    .nav__link__recruit {
      &::before {
        background: url(./img/menu/recruit_og.png);
      }
    }
    .nav__link__contact {
      &::before {
        background: url(./img/menu/contact_og.png);
      }
    }
  }
}
