.nav {
  flex-wrap: wrap;
  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
  .nav__link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: $white;
    &:hover,
    &:focus {
      color: darken($white, 15%);
      text-decoration: none;
    }
  }
  @include max-screen(768px) {
    display: none;
    .nav__link {
      color: $green;
      &:hover,
      &:focus {
        color: darken($green, 15%);
        text-decoration: none;
      }
    }
    &.nav--open {
      position: absolute;
      top: 56px;
      right: 0;
      display: block;
      height: 100vh;
      width: 100vw;
      background: $white;
      z-index: 2;
      @include transition(1.5s top);
      ul {
        display: block;
      }
    }
  }

}
