.nav {
  flex-wrap: wrap;
  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
  .nav__link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  @include max-screen(768px) {
    display: none;
    &.nav--open {
      position: absolute;
      top: 57px;
      display: block;
      height: 100vh;
      width: 100vw;
      background: $white;
      z-index: 2;
      @include transition(1.5s top);
      ul {
        display: block;
      }
    }
  }

}
