$particle-color: #fff;
$particle-spacing: 2560px;
$particle-time-1: 60s;
$particle-time-2: 120s;
$particle-time-3: 180s;
$particle-time-4: 600s;

@function particles($max) {
   $val: 0px 0px $particle-color;
   @for $i from 1 through $max {
      $val: #{$val},
      random($particle-spacing)+px random($particle-spacing)+px $particle-color;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}

@keyframes animParticle {
  from { transform: translateY(0px); }
  to   { transform: translateY($particle-spacing * -1); }
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $particle-spacing;
}

.particle-1 {
  animation: animParticle $particle-time-1 linear infinite;
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $particle-time-2 linear infinite;
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle $particle-time-3 linear infinite;
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle $particle-time-4 linear infinite;
  @include particles(400);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(400);
  height: 1px;
  width: 1px;
}
