.recruit {
  @include onepoint-content
  background-color: #ffdfb9;
  .recruit-banner {
    width: 450px;
    margin: 0 auto;
  }
  .recruit-info {
    width: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: .5rem;
    border-collapse: collapse;
    .recruit-info__label {
      width: 40%;
    }
    .recruit-info__content {
      width: 60%;
    }
    th {
      text-align: right;
    }
    th,
    td {
      padding: .75rem;
      vertical-align: top;
    }
  }
}
